.blue {
    border-bottom: 5px solid olive;
    color: olive;
}
.blue:focus {
    border-color: olive;
}

.column {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.column > * {
   margin-bottom: 7px;
}

.testSpanError {
    color: firebrick;
    font-size: 14px;
    font-weight: bold;
}

.blueBut {
    background: #2e559a;
    color: #f1f1f1;
}
.blueBut:hover {
    background: #143a7e;
    color: #f1f1f1;
}